<ion-header
  [translucent]="true"
  parallax
  imageUrl="https://picsum.photos/720"
>
  <ion-toolbar color="secondary">
    <ion-title> Ionic Header Parallax </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>
      Start with Ionic
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p>
  </div>
</ion-content>
